body {
    background-color: rgb(100, 179, 100);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}
p, h1 {
    text-align: center;
}
#app {
    max-width: 700px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 40px;
}

input {
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 15px;
}

button {
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: blueviolet;
}

/* #output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
} */
 